name: CI/CD Boru Hattı

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Kodları Çek
      uses: actions/checkout@v3

    # Bu adım opsiyoneldir, sadece kodda hata var mı diye bakar
    - name: Basit Test
      run: echo "Kodlar GitHub'a ulaştı, dağıtıma başlıyoruz..."

    # İşte BÜYÜLÜ KISIM: SSH ile Sunucuya Bağlanma
    - name: Sunucuya Bağlan ve Güncelle
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.HOST_IP }}      # GitHub Secret'tan IP'yi al
        username: ${{ secrets.USERNAME }} # GitHub Secret'tan 'ubuntu'yu al
        key: ${{ secrets.EC2_SSH_KEY }}   # GitHub Secret'tan Anahtarı al
        port: 22
        # Sunucunun içinde çalıştırılacak komutlar:
        script: |
          cd devops-baslangic
          git pull origin main
          sudo docker compose up -d --build